{% extends 'includes/base.html' %}
{% load crispy_forms_tags %}
{% block pagescript %}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <h1 class="mt-4">Add Promotion Video</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'promotion' %}">Promotion</a></li>
      <li class="breadcrumb-item active">{{ form.form_name }}</li>
    </ol>
    <div class="row">
      <div class="col-md-8 col-sm-10 col-12">
        {% csrf_token %}
        {% crispy form %}
      </div>
    </div>
  </div>
  {{ form.media.js }}
{% endblock %}
